@charset "utf-8";
// reset
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0 }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal }
ul { list-style: none }
button, input, select, textarea { margin: 0 }
html { box-sizing: border-box }
* { box-sizing: inherit }
*:before, *:after { box-sizing: inherit }
img, embed, object, audio, video { height: auto; max-width: 100% }
iframe { border: 0 }
//table {border-collapse: collapse;border-spacing: 0}
td, th { padding: 0; text-align: left }
a { text-decoration: none; color: #333 }
a:active, a:hover, a:focus { outline: 0 none }
// common
.hidden { display: none; }
.vh { visibility: hidden; }
.full { width: 100%; height: 100%; }
.pr { position: relative; }
.ta-c { text-align: center; }
.ta-l { text-align: left; }
.ta-r { text-align: right; }
// elements
body { line-height: 1; font-size: 14px; }
.f12 { font-size: 30px; padding: 20px;
    &:before { display: block; content: "F12"; }
}


